header nav{
    padding-top: 50px;
    padding-left: 150px;
}
header nav ul li{
    display: inline-block;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    padding-inline-end: 20px;
}
header img{
    padding-left: 80px;
    padding-top: 8px;
    margin-bottom: 25px;
    margin-top: 25px;
}
main{
    background-color: rgb(241, 240, 240);
    padding-top: 20px;
    text-align: center;
}
main h1{
    text-align: left;
}
main img{
    margin-bottom: 100px;
    margin-top: 50px;
}
main p{
    text-align: left;
}
button{
    background-color: rgb(235, 120, 78);
    border: none;
    width: 150px;
    height: 32px;
    border-radius: 10px;
}
button a{
    color: white;
    text-decoration: none;
}
button a:hover{
    color: white;
}
button:hover{
    background-color: rgb(231, 85, 27);
}
article{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
article h1{
    margin-bottom: 50px;
}
article h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}
article img{
    width: 200px;
}
article p{
    text-align: justify;
}
article button{
    margin-bottom: 50px;
    margin-top: 50px;
}
footer{
    color: white;
}
footer .data{
    background-color: white;
    color: black;
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    border-radius: 10px;
    padding-top: 3px;
    font-size: 15px;
}
footer h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}
footer h2{
font-size: 15px;
}
footer img{
    margin-bottom: 20px;
}
footer p a{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
footer .end{
    margin-bottom: 50px;
}