body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(29, 28, 28);
    color: white;
    height: 160px;
}
header img{
    height: 80px;
    padding-left: 100px;
    padding-top: 35px;
    float: left;
}
header nav{
    float: right;
    padding-top: 50px;
    padding-right: 100px;
}
header nav ul li{
    list-style-type: none;
    display: inline;
    padding-inline-end: 20px;
}
header nav ul li a{
    color: white;
    text-decoration: none;
}
main{
    height: 500px;
    display: flex;
    background-color: rgb(238, 235, 235);
}
main .bloco01 .items{
    padding-left: 100px;
    padding-top: 80px;
    max-width: 500px;
}
main .bloco01 button{
    margin-top: 20px;
    height: 35px;
    width: 120px;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    color: white;
    background-color: rgb(221, 124, 67);
}
main .bloco01 p{
    color: rgb(43, 41, 41);
}
main .bloco02{
    padding-left: 130px;
    padding-top: 85px;
}
main .bloco02 img{
    width: 500px;
}
article{
    text-align: center;
    padding-bottom: 110px;
}
article h1{
    padding-top: 50px;
    padding-bottom: 50px;
}
article img{
    width: 300px;
}
article .b01{
    text-align: left;
    display: inline-block;
    max-width: 300px;
}
article .b02{
    text-align: left;
    padding-left: 50px;
    display: inline-block;
    max-width: 300px;
}
article .b03{
    text-align: left;
    padding-left: 50px;
    display: inline-block;
    max-width: 300px;
}
article button{
    margin-top: 20px;
    height: 35px;
    width: 120px;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    color: white;
    background-color: rgb(221, 124, 67);
}
footer{
    color: white;
    background-color: rgb(29, 28, 28);
}
footer .publicacoes{
    width: 300px;
    display: inline-block;
}
footer .sobre{
    width: 300px;
    display: inline-block;
}
footer .redes{
    width: 300px;
    display: inline-block;
}
